/* autoprefixer grid: autoplace */
.FormInput {
    --color-error: red;
    --color-success: green;
    --color-text: #00475c;

    margin: .5rem 0;
}

.FormInput-body {
    display: flex;
    align-items: center;
    color: var(--color-text);
}

.FormInput-label {
    flex-grow: 2;
    font-size: 1.2em;
}

.FormInput-input {
    font-size: .9em;
    padding: 0 .2rem;
}
.FormInput-inputWrapper {
    position: relative;
}

.FormInput-validation {
    margin-right: .5rem;
    transition-property: opacity;
    transition-duration: .2s;
    &:not(.error, .success) {
        opacity: 0;
        transition-timing-function: ease-out;
    }
    &:is(.error, .success) {
        opacity: 1;
        transition-timing-function: ease-in;
    }
    &.error {
        color: var(--color-error);
    }
    &.success {
        color: var(--color-success);
    }
}

.FormInput-hint {
    font-size: .9em;
    color: var(--color-error);
    padding-left: 1em;
    text-indent: -1em;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    &.visible {
        transform: scaleY(1);
        max-height: 500px;
        transition-timing-function: ease-in;
    }
}

.FormInput-maskToggle {
    position: absolute;
    right: .35em;
    top: 1px;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

